#name{
    background-color: azure;
    margin-left: 37px;
    margin-right: 37px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
}

.design{
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

#quote{
    background-color: darkgrey;
    margin-left: 270px;
    
}
