<div class="container">

  <div class="row">
     <app-quote-form (addQuote)="addQuote($event)"></app-quote-form>
  </div>
  <div class="design">
  <div  *ngFor="let quote  of quotes ; let i = 'index'" id="name">

    <div id="name">
      <h4 id="{{i}}" appStrikethrough ><i><strong>{{quote.name}}  {{quote.completeDate|date|uppercase}}</strong> </i></h4> 
      <button class="btn btn-primary" (click)='toogleDetails(i)'>Details</button>
    </div>

    <div *ngIf="quote.showDescription" id="quote" >
      <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
    </div>
    
  </div>
</div>
</div>