 @import "~bootstrap/dist/css/bootstrap.css" ;
body{
 background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKE1jNSlisJ3ctGKqRM4Ei7oIrxAOmJL_kjaZhonfoK5b_nK05xQ');
 background-repeat: no-repeat;
 background-size: cover;
} 

